img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
h1{
  margin: 100px ;
  background-color: rgb(190, 139, 12);
}

body{
  background-color: lightblue;
}
img.logo1 {
  left: 10px;
  position: absolute;
}
img.logo2{
  right: 10px;
  position: absolute;
}
footer {
  background-color: #222;
  color: white;
  padding: 10px;
}